main { margin: 0 50px 0 50px; }

article p { text-align: justify; }

.subheading { font-size: 160%; }

#apparel { font-size: 110%; }

#winter, #red, #models, #moremodels { display: block;
									  margin: auto;
									  width: 40%; }
									  
.mobile { display: none; }

#logo { float: right; }
	
#columnNav { float: left;
			 width: 200px;
			 background-color: #60047A;
			 height: 450px;
			 text-align: left; 
			 font-size: 130%; 
			 margin-left: 3%; 
			 border-radius: 10px; }	
#columnNav ul { list-style-type: none; 
				padding-left: 12%; }
#columnNav li { padding-bottom: 5px; 
				color: white; }
#columnNav a { text-decoration: none; }
#columnNav a:hover { text-decoration: underline; }

.column2 { float: right; }

#returnTop { float: right;
			 color: white; 
			 background-color: black;
			 border-radius: 10px; 
			 padding: 5px; 
			 width: 120px;
			 height: 30px;
			 text-align: center;}
#returnTop a { text-decoration: none; }

@media only screen and (max-width:1024px){
	#models, #moremodels { width: 70%; 
						   height: 60%; }
	#logo a { float: left; 
			  margin: 0 10px 10px 0; }			  
	#clear { clear: right; }
	
	hr { border: 0; }
			
	.mobile { display: block; }
	.desktop { display: none; }
}

@media only screen and (max-width:768px){
	.mobile { display: block; }
	.desktop { display: none; }

}