header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box; }

#wrapper { width: 80%;
		   margin-left: auto;
		   margin-right: auto; }
			
header { height: 90px; 
		 display: flex; }		 
header h1 { flex: 4; 
			font-size: 400%; }
.floatLeft { float: left; 
			 margin-top: 0; 
			 margin-left: 10px; }			 
header div { flex: 1; 
			 height: 60%; 
			 text-align: center; } 			 
header img { width: 15%; 
			 height: 45%; }
header a { text-decoration: none; }
header span { color: black; 
			  font-size: 170%; } 
header span:hover { background-color: black; 
					color: white; 
					border-radius: 3px; }

body { background-image: radial-gradient(#FFCCFF, #FFFFFF);
	   background-repeat: no-repeat; }
	   
nav div { background-color: #2C0F2F; 
		  font-size: 20pt; 
		  border-radius: 10px; }		
nav ul { list-style-type: none; 
		text-align: center; }
nav li { display: inline; }
nav a { text-decoration: none;
	    padding-left: 15px; 
	    padding-right: 15px; }

/* unvisited link */
a:link{ color: #FFFFFF; }
/*visted link */
a:visited { color: pink; } /*#9C0F5F, #FC3F8F*/
/*get focus */
a:focus { color: #DDA0DD; }
/*hover over link */
a:hover { color: hotpink; }
/*selected link */
a:active { color: yellow }

main { font-family: Helvetica, sans-serif; }

h2 { text-align: center;
	 font-size: 220%; 
	 margin: 10px; }
h3 { text-align: center; 
	 font-size: 120%; } 
h5 { margin-left: 20%;
	 color: pink; }	
	 
@font-face { font-family: brand;
			 src: url(motionPic.ttf); }
@font-face { font-family: tagline;
			 src: url(BN-OldFashion.ttf); } 			
@font-face { font-family: navi;
			 src: url(belleza.ttf); }		 
@font-face { font-family: header;
			 src: url(blackRose.ttf); }			 

	
footer { font-family: Arial;
		 font-size: 1em;
		 border-top: thin solid #aeaed4;
		 padding-top: 10px; 
		 color: white;
		 background-color: #2C0F2F; 
		 border-radius: 10px; 
		 -webkit-column-count: 2; /* Chrome, Safari, Opera */
		 -moz-column-count: 2; /* Firefox */
		 column-count: 2; 
		 text-align: left; 
		 margin-left: 2%; 
		 -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		 -moz-column-gap: 40px; /* Firefox */
		 column-gap: 40px; }	 
.footLeft { text-align: left; 
			margin-left: 5%; }
.footRight { text-align: right; 
			 margin-right: 5%;}	
footer nav ul { text-align: right; }

table { border: none; 
		width: 100%; 
		border-collapse: collapse; }
th { border: none; 
	 padding-bottom: 8px; 
	 text-align: center; }		 
td { border: none; 
	 padding: none; 
	 text-align: center; }
	 
.navDiv { display: inline; }
#copyright { font-style: italic; }
#emailLink { color: #7FD0F9 }
#mobile { display: none; }
#desktop { display: inline; }

/* Theme color palette #F2671F, #C91B26, #9C0F5F, #60047A, #160A47 */
/* #decor {	background-image: url(nature.jpg);
		background-position: 50% 30%;
		background-size: 80% 60%;
		background-repeat: no-repeat;
		background-attachment: scroll;} */
		
/* <h2>Newest Fashion Designs</h2>
		<p>Fashionista is your ultimate guide to a wonderful trendy transformation!
			We offer a comprehensive range of services:  </p>
		<ul>
			<li>Website Design</li>
			<li>Interactive Animation</li>
			<li>E-Commerce Solutions</li>  	
			<li>Usability Studies</li>
			<li>Search Engine Optimization</li>
		</ul>
		<h2>Meeting Your Business Needs</h2>
		<p>Our expert designers are eager and excited to share with you.
			Take advantage of the power of a rich and achievable lifestyle!</p>
*/

/* needs editing */
@media only screen and (max-width:1024px){
	body { margin: 0; }
	#wrapper { width: auto; }
	main { margin-left: 0; }
	nav { float: none; 
		  width: auto; }
	nav li { display: inline-block; 
			 padding: 0.5em; 
			 font-size: 90%; }
	nav ul { text-align: center; }
	nav a { border-style: none; }
	h1, h2 { font-size: 120%; }
	p { font-size: 90%; }
	
	.navDiv { display: inline; }
	#mobile { display: inline; 
			  color: #7FD0F9; }
	#desktop { display: none; }
}

@media only screen and (max-width:768px){
	h1, h2 { font-size: 100%; }
	
	p { font-size: 90% }
	
	nav, nav ul, nav li { padding: 0; width: auto; }
	nav li { display: block; }
	nav a { display: block; 
			padding: 0.5em 0;
			border-bottom: 2px ridge #00005D; }
	
	footer nav { display: none; }
	.navDiv { display: none; }
	#mobile { display: inline; 
			  color: #7FD0F9; }
	#desktop { display: none; }
}
